.menu-circles {
	position: absolute;
	bottom: 140px;
	z-index: 10;
}
.menu-circle {
	color: white;
	font-size: 16px;
	font-weight: lighter;
	background-color: #243548;
	border-radius: 50%;
	border: #243548 solid 2px;
  	padding: 40px 20px;
    margin: 0 10px;
    width: 200px;
    height: 200px;
}
.menu-circle:hover {
	color: white;
	text-decoration: none;
	border: #ffec3b solid 2px;
	padding: 40px 20px;
}
.home-strip {
	background-color: #243548;
	height: 150px;
	width: 100%;
	position: fixed;
    bottom: 0;
    z-index: -10;
    h4 {
    	font-style: italic;
	    margin-top: 30px;
	    letter-spacing: 1px;
	    font-size: 22px;
	    z-index: 20;
	    margin-top: 70px;
    }
    span {
	    color: #ffec3b;
	}
}