.faded-logo {
	z-index: 1;
    position: relative;
	img {
	    height: 80vh;
	    margin-top: 60px;
	}
}
.menu-circles {
    z-index: 3000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    text-decoration: none;
    a:hover {
		text-decoration: none;
	}
}
.menu-circle {
	margin: 0 20px;
	background-color: #243548;
	border-radius: 50%;
	border: #E4E4E4 solid 2px;
	width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
	a {
		color: white;
		text-decoration: none;
	}
    p {
		font-size: 16px;
		padding-top: 10px;
		// font-weight: lighter;
    }
    h6 { 
    	color: white;
    }
    h6:hover {
		text-decoration: none;
	}
}
.menu-circle:hover {
	color: white;
	text-decoration: none;
	border: #ffec3b solid 3px;
}
.home-strip {
	background-color: #243548;
	height: 80px;
	width: 100%;
	position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    h4 {
    	font-style: italic;
	    margin-top: 30px;
	    font-size: 22px;
	    z-index: 4000 !important;
	    margin-top: 70px;
	    font-weight: lighter;
	    letter-spacing: 2px;
    }
    span {
	    color: #ffec3b;
	}
}

@media only screen and (max-width: 1200px) {
	.page-content {
		width: 800px;
	}
}












