.about-us {
	display: flex;
	justify-content: center;
	padding: 50px 0;
	h2 {
		color: #C5C5C5;
		letter-spacing: 1px;
		font-style: italic;
	}
	hr {
		width: auto;
		color: #ffec3b;
		border-top: 2px solid #ffec3b;
		margin-right: 76px;
	}
}
.about-us-left-col {
	width: 400px;
	margin-left: 50px;
	strong {
		font-size: 16px;
	}
}
.test-circle {
	background-color: #253648;
	border-radius: 50%;
	height: 326px;
    width: 326px;
    position: relative;
    margin: 10px;
}
.test1, .test2, .test3 {
	position: absolute;
	top: 50px;
    left: 50px;
    width: 236px;
}
.about-us-right-col {
	width: 600px;
	padding: 0 60px;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	// flex-direction: column;
	h2 {
		font-size: 12px;
    	line-height: 14px;
		span {
			color: #ffec3b;
			padding-left: 73px;
		}
	}
	h5, h6 {
		color: #C5C5C5;
		font-style: italic;
		text-align: center;
		margin: 0;
	}
}
.team-circle {
	display: flex;
    flex-direction: column;
    align-items: center;
	img {
		border-radius: 50%;
	    height: 150px;
	    width: 150px;
	    margin: 20px;
	    border: transparent solid 3px;
      &.active {
        border: #ffec3b solid 3px;
      }
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 13px;
	}
}
.team-circle:hover {
	img {
		border: #ffec3b solid 3px;
	}
}
.about-us-logos-wrapper {
	display: flex;
    justify-content: center;
    background-color: #e4e4e4;
}
.about-us-logos {
	img {
	    height: 55px;
	    /* width: 191px; */
	    margin: 30px 20px;
	}
}
.team-more-info {
	background-color: #243548;
	height: auto;
	width: 100%;
	padding: 45px 150px;
	h3 {
		color: #d6d6d6;
		font-style: italic;
	}
	hr {
		border-top: #ffec3b solid 2px;
	}
	p, li {
		color: white;
	}
  i {
    color: #ffec3b;
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
}
.team-individual {
  display: none;
  &.active {
    display: block;
  }
}
@media only screen and (max-width: 1350px) {
	.page-content {
		width: 1100px;
	}
}
@media only screen and (max-width: 1248px) {
	.page-content {
		width: 988px;
	}
}
@media only screen and (max-width: 988px) {
	.page-content {
		width: 100%;
	}
	.about-us {
		flex-wrap: wrap;
	}
	.about-us-left-col {
	    width: auto;
	    margin: 0 100px;
	}
	.about-us-right-col {
	    padding: 0 40px;
	    margin-right: 30px;
	}
}
@media only screen and (max-width: 920px) {
	.about-us-left-col {
    	margin: 0 80px;
   	}
   	.team-more-info {
	    padding: 45px 80px;
	}
}
@media only screen and (max-width: 828px) {
	.about-us-logos {
		display: flex;
    	flex-direction: column;
   	}
}
@media only screen and (max-width: 552px) {
	.page-content {
		width: 100%;
	}
	.about-us {
		flex-wrap: wrap;
	}
	.about-us-left-col {
	    width: auto;
	    margin: 0 30px;
	}
	.about-us-right-col {
	    padding: 0 30px;
	}
	.team-more-info {
	    padding: 45px 30px;
	}
	.about-us-left-col {
		width: auto;
	}
	.about-us-right-col {
		width: auto;
	}
}
@media only screen and (max-width: 386px) {
	.about-us-right-col {
	    flex-wrap: wrap;
   		justify-content: center;
   		padding: 0;
	}
}






