.contact-box {
	background-color: #243548;
	height: auto;
	width: 100%;
	padding: 100px 50px 45px 0px;
	display: flex;
	// border-top: solid 1px #D6D6D6;
	justify-content: space-around;
	h2 {
		color: #d6d6d6;
		font-style: italic;
	}
	hr {
		border-top: #ffec3b solid 2px;
	}
	p, li {
		color: white;
	}
	a {
		color: white;
	}
	a:hover {
		color: #ffec3b;
		text-decoration: none;
	}
}
.map {
	img {
		width: 1200px;
		height: auto;
		border-left: #D6D6D6 solid 1px;
		border-right: #D6D6D6 solid 1px;

	}
}

.contact-form {
  color: #ffec3b;
  font-size: 14px;
  form {
    width: 400px;
    color: #ffec3b;
    margin-top: 37px;
    input {
      height: 40px;
      font-size: 15px;
      font-weight: 200;
      margin-top: -8px;
    }
    textarea {
      font-size: 14px;
      font-weight: 200;
      height: 85px;
      margin-top: -8px;
    }
  }
  // .form-group {
  //   margin-bottom: 5px;
  // }
}




