.contact-box {
	background-color: #243548;
	height: auto;
	width: 100%;
	padding: 100px 50px 45px 0px;
	display: flex;
	justify-content: space-around;
	h2 {
		color: #d6d6d6;
		font-style: italic;
	}
	hr {
		border-top: #ffec3b solid 2px;
	}
	p, li {
		color: white;
	}
}







