.live-roles {
	display: flex;
	justify-content: left;
	flex-direction: column;
	padding-top: 100px;
	margin: 0 70px 0 70px;
	h2 {
		color: #C5C5C5;
		letter-spacing: 1px;
		font-style: italic;
	}
	hr {
		width: auto;
		color: #ffec3b;
		border-top: 2px solid #ffec3b;
		margin-right: 76px;
	}
}
.live-roles-title {
	p {
		color: #1D2C37;
		font-size: 14px;
	}
}
.job-roles {
	padding: 15px 0;
}
.job-role {
	display: flex;
	border-bottom: 4px solid #f4f4f4;
	padding-top: 10px;
	margin-top: 10px;
  &.active {
    display: block;
  }
	h6 {
		color: #C5C5C5;
		font-size: 16px;
		font-style: italic;
	}
	p {
		font-size: 15px;
	}
  &.commercial {
    &:hover {
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      background-color: #1b3447;
      cursor: pointer;
      p {
        color: white;
      }
    }
  }
  &.residential:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #ffec3b;
    cursor: pointer;
  }
  &.c-and-r:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #BEBEBE;
    cursor: pointer;
  }
}
.live-job {
	background-color: #f4f4f4;
}
.job-title {
	width: 300px;
	padding-right: 20px;
	padding-left: 20px;
}
.job-sector {
	width: 150px;
	padding-right: 20px;
}
.job-salary {
	width: 150px;
	padding-right: 20px;
}
.job-package {
	width: 150px;
	padding-right: 20px;
}
.job-description {
	width: 300px;
	padding-right: 20px;
}
.live-roles-more-info {
	background-color: #243548;
	height: auto;
	width: 100%;
	padding: 45px 150px;
  	display: none;
	h3 {
		color: #d6d6d6;
		font-style: italic;
	}
	hr {
		border-top: #ffec3b solid 2px;
	}
	p, li {
		color: white;
	}
	&.active {
		display: block;
	}
}

.page {
  display: none;
  &.active {
    display: block;
  }
}

.scroll-btns {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
}
@media only screen and (max-width: 1000px) {
    .live-roles {
        margin: 0 30px 0 30px;
    }
}
@media only screen and (max-width: 988px) {
    .live-roles-more-info {
	    padding: 35px 50px;
	}
}
@media only screen and (max-width: 542px) {
    .job-role {
 		flex-direction: column;
 		padding-left: 15px;
    }
    .job-title {
    	padding-left: 0;
    	font-weight: bold;
    }
}
@media only screen and (max-width: 386px) {
	.live-roles-more-info {
	    padding: 15px 30px;
	}
	.page-content {
		width: auto;
	}
	.job-title {
		width: auto;
	}
	.job-sector {
		width: auto;
	}
	.job-salary {
		width: auto;
	}
	.job-package {
		width: auto;
	}
	.job-description {
		width: auto;
	}
}
@media only screen and (max-width: 358px) {
    .live-roles-filters {
		display: flex;
    	flex-direction: column;
    	padding-left: 14px;
    }
    .job-title {
    	padding-left: 0px;
    }

}








