.wrapper {
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.page-content {
	background-color: white;
	width: 1200px;
}
.what-we-do {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	h2 {
		color: #C5C5C5;
		letter-spacing: 1px;
		font-style: italic;
	}
	hr {
		width: auto;
		color: #ffec3b;
		border-top: 2px solid #ffec3b;
		margin-right: 76px;
	}
}
.what-we-do-left-col {
	width: 450px;
	margin-left: 25px;
	strong {
		font-size: 17px;
	}
	ul {
		padding-left: 14px;
	}
	li {
		color: #243548;
		font-size: 14px;
		padding-top: 10px;
	}
}
.what-we-do-right-col {
	width: 450px;
	margin: 95px 0 0 20px;
	margin-top: 95px;
	li {
		color: #243548;
		font-size: 14px;
		padding-top: 10px;
	}
	ul {
		padding-left: 14px;
	}
}
.sector-section {
	padding-bottom: 40px;
}
.sector-circles {
	display: flex;
	justify-content: center;
}
.sector-circle {
	img {
		border-radius: 50%;
	    height: 200px;
	    width: 200px;
	    margin: 20px;
	    border: transparent solid 3px;
	    &.active {
	      border: #ffec3b solid 3px;
	    }
	}
	p {
		position: absolute;
	    bottom: 75px;
	    left: 30px;
	    width: 180px;
	    text-align: center;
	    color: white;
	    font-size: 25px;
	}
  &:hover {
    cursor: pointer;
  }
}
.sector-circle:hover {
	img {
		border: #ffec3b solid 3px;
	}
}
.sector-title {
	position: relative;
}
.sector-margin p {
	margin-bottom: 27px;
}
.sector-more-info {
	background-color: #243548;
	height: auto;
	width: 100%;
	padding: 45px 150px;
	h3 {
		color: #d6d6d6;
		font-style: italic;
	}
	hr {
		border-top: #ffec3b solid 2px;
	}
	p, li {
		color: white;
		font-size: 15px;
	}
	a {
		color: #ffec3b;
	}
}

.sector-individual {
  display: none;
  &.active {
    display: block;
  }
}

@media only screen and (max-width: 1350px) {
	.page-content {
		width: 1100px;
	}
}
@media only screen and (max-width: 1248px) {
	.page-content {
		width: 988px;
	}
}
@media only screen and (max-width: 988px) {
	.page-content {
		width: 100%;
	}
	.sector-circles {
		flex-wrap: wrap;
	}
	.what-we-do {
		flex-direction: column;
		padding-right: 20px;
	}
	.what-we-do-left-col {
    	width: auto;
    }
    .what-we-do-right-col {
    	width: auto;
    	margin-top: 0;
    }
    .sector-more-info {
	    padding: 35px 50px;
	}
}
@media only screen and (max-width: 386px) {
	.what-we-do-left-col {
	    margin-left: 30px;
	}
	.what-we-do-right-col {
    	padding: 0 15px;
   	}
	.sector-more-info {
	    padding: 15px 30px;
	}
}






