<div class="news-title">
        <h2>Will You Join our Recruitment Revolution?</h2>
        <hr>
      </div>
      <div class="news-stories-all">
        <div class="news-story-main">
          <%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1505153575/RecruitmentRevolution_nfoinu.png" %>
          <div class="news-story-main-body">
            <h6>11th September 2017</h6>
            <p>A few eyebrows have been raised when we’ve talked about Hanning revolutionising real estate recruitment – and perhaps it does conjure up a slightly laughable image of Che-Guevara-beret-wearing headhunters atop barricades. True, we don’t have anything quite so dramatic in mind; but that doesn’t make the revolution any less real.
            <br></br>
            For too long, recruitment has been denigrated as a profession riddled with slapdash and lazy practices. The actions of bad practitioners have tainted the industry to the point that it is now all too often perceived as the mindless plugging of gaps, rather than anything more strategic. And whilst none of us can pretend that a recruiter’s job undoubtedly involves placing candidates in roles, there is a better way of doing things. We think it’s time to shake up the status quo!
            <br></br>
            As with any profession, there are the good the bad and the ugly when it comes to businesses operating within the sector. In setting up Hanning Recruitment, we were determined to be the ‘best of the best’, setting a new benchmark in terms of what we would offer not just our clients but also our candidates. Our collective experience of the industry means that we either already know or can sniff out top talent (and we know precisely where to look) – but if we are lining up the crème-de-la-crème of candidates, then we want to place them in roles that suit them and which will further their careers, not jobs that are at best a stop-gap and at worst utterly unsuitable.
            <br></br>
            So, what’s our secret? This isn’t a question of reinventing the wheel, more just giving it a good once-over so that it works to the best of its ability. In many ways, it’s about going back to basics. It’s only by talking to people (candidates or clients) that you can truly drill down into their aims and objectives and this face-to-face contact is also the only way of gauging a person’s ‘x-factor’, that magic part of the matrix that will determine whether or not they will work well within a company, above and beyond what is written on their CV.  The advent of LinkedIn and other networking sites has started to eliminate this personal approach, but we are bringing it back. Don’t get me wrong, this isn’t about shunning technology; but let’s use these tools to complement rather than replace our intuition – after all, it has served humanity pretty well for the last couple of millennia!
            <br></br>
            Our approach will be to offer clients and candidates sustainable, long-term employment solutions. We are setting a high bar – candidates walking out after a few months we will see as a failing on our part. We want to build long-term relationships and provide strategic counsel that can extend into discussing what roles a company might or might not need in order to perform well. But it’s only recruiters operating at the top of their game who are capable of building this kind of trust and rapport.
            <br></br>
            So, we say it’s time to say adios to the ‘one size fits all’ approach to recruitment – to the untargeted email spamming, the random LinkedIn adds and impersonal messages, the overpromising and under-delivering and the insincerity. Let’s get back to doing the basics well and commit to putting clients and candidates first. Who’s in?
            </p>
          </div>
        </div>
      </div>
