<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="contact-box">
			<div class="contact-details">	
				<h2>Contact</h2>
				<hr>
				<p>Hanning Recruitment<br>
				17 Clifford Street<br>
				Mayfair<br>
				London<br>
				W1S 3RQ
				<br></br>
				+44 (0)203 0340099<br>
				+44 (0)7535 255726<br>
				info@hanningrecruitment.com<br>
				</p>
			</div>
			<div class="contact-form">
				

				
			</div>
		</div>
	</div>
</div>



