<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="contact-box">
			<div class="contact-details">
				<h2>Contact</h2>
				<hr>
				<p>Hanning Recruitment<br>
				17 Clifford Street<br>
				Mayfair<br>
				London<br>
				W1S 3RQ
				<br></br>
				<a href="tel:+44-203-034-0099">+44 (0)20 3034 0099</a><br>
				<a href="tel:+44-753-525-5726">+44 (0)7535 255726</a><br>
				<a href="mailto:info@hanningrecruitment.com">info@hanningrecruitment.com</a><br>
				</p>
			</div>
			<div class="contact-form">
				<%= render "shared/contact_form" %>
        		<%= @message %>
			</div>
		</div>
		<div class="map">
			<%= image_tag "http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504292387/Map_rcvmfp.png" %>
		</div>
	</div>
</div>



