<div class="banner">
	<div class="banner-content">
	<%= image_tag "Hanning_Submark_RGB_Yellow.png", class: "submark-logo" %>
    <%= image_tag "Hanning_FullLogo_RGB_White.png", class: "main-logo" %>
    	<h4>Connected <span>–</span> Professional <span>–</span> Trusted</h4>
  	</div>
</div>