<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="news">
			<div class="back">
				<%= link_to news_path do %>
					<p><i class="fa fa-arrow-left"></i> Back to news</p>
          		<% end %>
			</div>
      <%= render 'shared/news_article', news: @news %>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>
