<%= render 'shared/navbar' %>
<div class="wrapper">
	<div class="page-content">
		<div class="news">
			<div class="back">
				<%= link_to news_path do %>
					<p><i class="fa fa-arrow-left"></i> Back to news</p>
          		<% end %>
			</div>
			<div class="news-title">
					<h2>VanHan founders back real estate recruitment start-up</h2>
					<hr>
			</div>
			<div class="news-stories-all">
				<div class="news-story-main">
					<%= image_tag "http://res.cloudinary.com/dwkjj7bpb/image/upload/v1505155704/PrimeResi_fuhpro.png" %>
					<div class="news-story-main-body">
						<h6>11th September 2017</h6>
						<p>A new specialist recruitment firm has launched in Mayfair, with hands-on backing from the founders of one of Prime Central London’s top luxury property consultancies.
						<br></br>
						Hanning Recruitment has been founded by Toby Speke, a former VanHan agent (heading up the development team) who started out as a Graduate Surveyor with Knight Frank. Speke says his new outfit – which lists VanHan’s Rory Penn and Thomas Van Straubenzee as consultants – will “revolutionise the real estate jobs market with its fresh, strategic approach”.
						The highly-connected fledgling firm is tackling both the resi and commercial property sectors, placing people across investment/finance, asset management, land and development, general practice, proptech and construction.
						<br></br>
						Toby Speke, Founder and Managing Director of Hanning Recruitment: “The recruitment industry is often criticised for being overly opportunistic. With the creation of Hanning Recruitment, we wanted to set a new benchmark for the sector in terms of quality and service. Our extensive experience and connectivity across both the commercial and residential sectors means that we have first-hand knowledge of what clients and candidates need. We either know or can identify the best candidates, and introduce them to their dream jobs, from graduate roles to more senior positions at Director or Partner level. Hanning designs bespoke recruitment plans for clients – this isn’t about short-term fixes, but long-term strategic solutions, which ultimately yield greater business benefits.”
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>