You have recieved a job application:
<br>
<p>Name: <%= @job_application.name %></p>
<p>Email: <%= @job_application.email %></p>
<p><%= @job_application.live_role.title if @job_application.live_role %></p>
<br>
<%= link_to "Download CV", cl_image_path(@job_application.cv) %>
