.banner {
  background-image: url('http://res.cloudinary.com/dqxvcdy6w/image/upload/v1504782811/Hanning_landing_ni4tb6.jpg');
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.banner-content {
  background-image: linear-gradient(-225deg, rgba(0,10,30,0.7) 50%, rgba(0,36,61,0.6) 80%), url('http://res.cloudinary.com/dwkjj7bpb/image/upload/v1503663709/Hanning_recruitment_landing_dwix70.jpg');
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9000;
  h4 {
    font-style: italic;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 100px;
  }
  span {
    color: #ffec3b;
  }
}
// .submark-logo img {
//   // width: 200px;
//   border: 1px solid #ffec3b;
//   border-radius: 50%;
// }
.main-logo {
  width: 500px;
  margin-top: -50px;
  border-bottom: 1.5px solid #ffec3b;
}
.banner-small img{
  height: 200px;
  width: 100%;
  margin-top: 3px;
}
@media only screen and (max-width: 462px) {
  .main-logo {
    width: 300px;
  }
}















