.btn-hanning {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
	text-decoration: none;
	position: absolute;
	top: 17px;
	right: 55px;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.btn-hanning:hover {
	opacity: 0.7;
	text-decoration: none;
}