.btn-register {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
	text-decoration: none;
	position: absolute;
	top: 17px;
	right: 55px;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.btn-register:hover {
	opacity: 0.7;
	text-decoration: none;
}
.btn-filter {
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.btn-filter:hover {
	opacity: 0.7;
	text-decoration: none;
}
.btn-all-jobs {
	color: #1b3447;
	background-color: #f4f4f4;
	border-color: #f4f4f4;
}
.btn-commercial {
	color: #d6d6d6;
	background-color: #1b3447;
	border-color: #1b3447;
}
.btn-residential {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
}








