.btn-register {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
	text-decoration: none;
	position: absolute;
	top: 17px;
	right: 55px;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 0.5px;
	padding-top: 8px;
}
.btn-register:hover {
	text-decoration: none;
}
.btn-upload-blue {
	background-color: #1b3447;
	color: #f4f4f4;
	width: 180px;
  height: 40px;
	font-size: 15px;
}
.form-buttons {
  display: flex;
  justify-content: space-around;
}
.form-group.file {
  display: none;
}

.btn-upload-blue:hover {
	color: #e3e3e3;
}
.btn-submit-yellow {
	color: #1b3447;
	background-color: #ffec3b;
	width: 200px;
	font-size: 15px;
}
.btn-submit-yellow:hover {
	opacity: 0.7;
}
.btn-submit-contact {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
	width: 400px;
	padding: 10px;
	font-size: 15px;
	font-weight: lighter;
    letter-spacing: 0.5px;
}
.btn-submit-contact:hover {
	background-color: #1b3447;
	border-color: #ffec3b;
	color: #f4f4f4;
}
.btn-filter {
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 0.5px;
}
.btn-filter:hover {
	opacity: 0.7;
	text-decoration: none;
}
.btn-all-jobs {
	color: #1b3447;
	background-color: #f4f4f4;
	border-color: #f4f4f4;
}

.btn-apply-form {
  color: #1b3447;
  background-color: #ffec3b;
  border-color: #ffec3b;
  text-decoration: none;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-top: 8px;
}

.btn-commercial {
	color: #d6d6d6;
	background-color: #1b3447;
	border-color: #1b3447;
  &:hover {
    color: #d6d6d6;
  }
}
.btn-commercial:hover {
	color: #f4f4f4;
}
.btn-residential {
	color: #1b3447;
	background-color: #ffec3b;
	border-color: #ffec3b;
}
@media only screen and (max-width: 518px) {
	.btn-submit-contact {
	    width: auto;
	}
}





