.footer {
	background-color: #243548;
	display: flex;
	border-top: solid 1px #f4f4f4;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	padding: 20px 0;
	p {
		color: #d6d6d6;
		font-size: 12px;
		font-weight: lighter;
		margin-bottom: 0;
	}
	a {
		color: #d6d6d6;
		font-weight: lighter;
		font-size: 12px;
		padding: 0 7px;
	}
	a:hover {
		text-decoration: none;
		color: #FBE954;
	}
}
.footer-links {
	display: flex;
}
.footer-sm {
	padding: 10px 0;
}
.footer-copyright {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
@media only screen and (max-width: 560px) {
	.footer {
		justify-content: left;
		flex-direction: column;
		padding: 20px 0;
		height: auto;
		p {
			padding: 0;
		}
	}
}
@media only screen and (max-width: 374px) {
	.footer-links {
		flex-direction: column;
		text-align: center;
	}
}
